*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,body{
 position: relative;
 height: 100%;
 width: 100%;
 /* background-color: rgb(226, 222, 222); */
 background: url(ab.jpg);
 background-position: center;
 background-size: cover;
}
.btn-div{
 width: 500px;
 height: 500px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 backdrop-filter: blur(5px);
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.531);
}
.main{
 width: 300px;
 height: 70px;
 position: absolute;
}
.btn{
 width: 100%;
 height: 100%;
 border: none;
 outline: none;
 background-color: rgb(0, 0, 0);
 color: white;
 transition: 0.7s;
 z-index: 0px;
 font-size: 25px;
 position: relative; 
 box-shadow: 0 0 40px rgba(0, 0, 0, 0.337) ;
}
.btn::after{
 content: '';
 background-color: rgb(212, 0, 255);
 position: absolute;
 width: 30px;
 height: 30px;
 z-index: -1;
 left: -4px;
 top: -4px;
 transition: 0.7s;

}
.btn::before{
 content: '';
 background-color: rgb(34, 0, 255);
 position: absolute;
 width: 30px;
 height: 30px;
 z-index: -1;
 right: -4px;
 bottom: -4px;
 transition: 0.7s;
}
.btn:hover{
 border-radius: 30px;
 font-size: 40px;
 color: rgb(0, 0, 0);
 background-color: rgb(255, 255, 255);
}
.z{
 transition:1s;
}
.btn:hover .z{
 background-image: linear-gradient(45deg, red, yellow, green, blue, red);
 -webkit-background-clip: text;
 color: transparent;
}
.btn:hover::after{
height: calc(100% + 8px);
 width: calc(100% + 8px);
 border-radius: 34px;
 background:linear-gradient(45deg, red , yellow, green, blue, red);
}
.btn:hover::before{
height: calc(100% + 8px);
 width: calc(100% + 8px);
 border-radius: 34px;
background:linear-gradient(45deg, red , yellow, green, blue, red); 
}
.a-button{
 text-decoration: none;
 color: none;
 cursor: pointer;
}

